<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FD437DB093FBAC2FF01B0775C2914BAD9A15F2D0</string>
				<key>dateExpires</key>
				<string>2023/03/28</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PTZKNDQ2A6.com.boda.rnapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PTZKNDQ2A6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>823144a3-39ac-4adb-bf95-4cb3c42d2935</string>
				<key>dateExpires</key>
				<string>2023/03/28</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.boda.rnapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PTZKNDQ2A6</string>
				<key>name</key>
				<string>Pyung AN Kim</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
